*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 2000px;
    max-width: 2000px;
    
}

header{
    
    height: 200px;
    width: 100%;
    
}

a{
    text-decoration: none;
    color: white;
}

.banner{
    height: 50px;
    background-color: rgb(126, 156, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.jumbo{
    background-color: white;
    height: 2800px;
    margin-top: 50px;
    width: 100%;
    gap: 35px;
}

.card{
    display: flex;
    border-radius: 12px;
    
    gap: 10px;
    height: 550px;
    background-color: rgb(126, 156, 255);
}

h3{
    color: blue;
    padding-top: 20px;
}

.card>p{
    padding: 0 23px 0 23px;
}

#app-store{
    padding: 15px 40px 15px 40px;
    background-color: blue;
    border-radius: 12px;
}

.fa-apple{
    font-size: 20px;
}


.card img{
    
    width: 80%;
    height: 50%;
    
}

@media (max-width:480px) {
    .card{
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 80%;
       
    }

    .jumbo{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        
    }
}